{
  "plugins": ["@babel/plugin-proposal-optional-chaining", "@loadable/babel-plugin"],
  "compact": true,
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ]
}
