.arrow-icon {
  top: calc(50%);
  width: 80px;
  position: relative;
  display: flex;
  cursor: pointer;
  border-radius: 1px;
}
.left-bar {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 19.8719063694px;
  width: 24px;
  height: 6px;
  display: block;
  transform: rotate(33deg);
  float: right;
  border-radius: 1px;
}
.left-bar:after {
  content: ' ';
  width: 24px;
  height: 6px;
  display: block;
  float: right;
  border-radius: 3px 7px 7px 3px;
  transition: all 0.4s cubic-bezier(0, 1.24, 0.68, 0.92);
  z-index: -1;
}
.right-bar {
  position: absolute;
  background-color: transparent;
  top: 0px;
  left: 35px;
  width: 24px;
  height: 6px;
  display: block;
  transform: rotate(-33deg);
  float: right;
  border-radius: 1px;
}
.right-bar:after {
  content: ' ';
  width: 24px;
  height: 6px;
  display: block;
  float: right;
  border-radius: 7px 3px 3px 7px;
  transition: all 0.4s cubic-bezier(0, 1.24, 0.68, 0.92);
  z-index: -1;
}
.open .left-bar:after {
  transform-origin: center center;
  transform: rotate(-70deg);
}
.open .right-bar:after {
  transform-origin: center center;
  transform: rotate(70deg);
}
